*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


html{
  font-size: 62.5%;
}

body{
  height: 100vh;
  font: 1.6rem Helvetica, Arial;
  margin: 0;
}

a{
  font-weight: bold;
  color: black;
  text-decoration: none;
}

a:hover{
  color: green;
}

button {
  font: 1.6rem helvetica;
  padding: 1rem;
  border: 0.1rem gray solid;
  border-radius: 0.5rem;
  cursor: pointer;
}

button:hover{
  border: 0.1rem rgb(100, 100, 100) solid
}

button.primary {
  background-color: burlywood;
}

.grid-container {
  display: grid;
  grid-template-areas: 'header' 'main' 'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

header {
  grid-area: header;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

header a{
  color: white;
  font-weight: bold;
  text-decoration: none;
}

header a:hover{
  color: rgba(235, 235, 235, 0.616);
}

.brand a{
  font-size: 3rem;
}

footer{
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*products*/
.products { 
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
  justify-content: center;
}

.products li {
  flex: 0 1 30rem;
  margin: 1rem;
  margin-bottom: 0;
  height: 42rem;
  border-top: 0.2rem gray solid;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.product img{
  max-height: 26rem;
  max-width: 22rem;
  margin-top: 2rem;
}

.product-name {
  line-height: 2.2rem;
}

.product-brand{
  font-size: 1.2rem;
  color: gray;
}

.product-price{
  font-size: 2rem;
}

/*Rating*/
.rating {
  color: #ffc000;
  font-size: 1.8rem;
}

.rating span:last-child{
  color: black;
  font-size: 1.4rem;
}

/*Product details*/
.details{
  display:flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.details-image{
  flex: 2 1 60rem;
}

.details-image img {
  max-width: 60rem;
  width: 100%;
}

.details-info, .details-action{
  flex: 1 1 30rem;
}

.details-info ul,
.details-action ul {
  padding: 0_;
  list-style-type: none;
}

.details-info h1 {
  font-size: 2rem;
  margin: 0;
}

.details-info li,
.details-action li {
  margin-bottom: 1rem;
}

.details-action{
  border: 0.1rem rgb(95, 94, 94) solid;
  border-radius: 0.5rem;
  background-color: gray;
  padding: 1rem;
}

.fw {
  width: 100%;
}
